Repository yongzhi1/sof, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz, @singalsu, @thesofproject/steering-committee, @mrajwa, @akloniex, @cujomalainey, @dgreid, @johnylin76, @xiulipan, @randerwang, @lyakh, @bardliao, @libinyang, @marc-hb, @bkokoszx, @ranj063

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej @dbaluta @jajanusz

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/drivers/dmic.h		@singalsu
src/include/ipc/**			@thesofproject/steering-committee
src/include/kernel/**			@thesofproject/steering-committee
src/include/user/**			@thesofproject/steering-committee
src/include/sof/debug/gdb/*		@mrajwa
src/include/sof/audio/kpb.h		@mrajwa
src/include/sof/audio/mux.h		@akloniex

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/eq_fir*			@singalsu
src/audio/eq_iir*			@singalsu
src/audio/tone.c			@singalsu
src/audio/kpb.c				@mrajwa
src/audio/mux/*				@akloniex
src/audio/dcblock*			@cujomalainey @dgreid
src/audio/crossover*			@cujomalainey @dgreid
src/audio/tdfb*                         @singalsu
src/audio/drc/*				@johnylin76 @cujomalainey @dgreid

# platforms
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan @randerwang
src/platform/suecreek/*			@lyakh
src/arch/xtensa/debug/gdb/*		@mrajwa
src/platform/imx8/**			@dbaluta

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu
src/drivers/intel/cavs/sue-iomux.c	@lyakh
src/drivers/intel/haswell/*		@randerwang
src/drivers/imx/**			@dbaluta
src/drivers/dw/*			@lyakh

# other libs
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/drivers/intel/cavs/sue-ipc.c	@lyakh
src/lib/*				@libinyang
src/debug/gdb/*				@mrajwa
src/schedule				@mrajwa

# other helpers
test/**					@jajanusz
scripts/*				@xiulipan @marc-hb

# tools(old soft)
tools/logger/*				@xiulipan @bkokoszx @akloniex
tools/topology/*			@ranj063 @xiulipan
tools/testbench/*			@ranj063
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/ctl/*				@singalsu
tools/tune/*				@singalsu

# build system
**/CMakeLists.txt			@jajanusz
**/Kconfig				@jajanusz
scripts/cmake/**			@jajanusz
scripts/kconfig/**			@jajanusz

# related files
*.sh					@jajanusz
*trace.*				@xiulipan @akloniex

# You can also use email addresses if you prefer.
#docs/*  docs@example.com

clk: add WAITI_FREQ_IDX to make clock switching more flexible
  src/platform/apollolake/include/platform/lib/clk.h
  src/platform/cannonlake/include/platform/lib/clk.h
  src/platform/icelake/include/platform/lib/clk.h
  src/platform/intel/cavs/lib/clk.c
  src/platform/suecreek/include/platform/lib/clk.h
  src/platform/tigerlake/include/platform/lib/clk.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

tgl: enable WOVCRO clock
  src/platform/intel/cavs/platform.c
  src/platform/tigerlake/include/platform/lib/clk.h
  src/platform/tigerlake/include/platform/lib/shim.h
  src/platform/tigerlake/lib/clk.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

codec_adapter: throw warning for not implemented get_data
  src/audio/codec_adapter/codec_adapter.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

topology: sof-tgl-max98373-rt5682: fallback to use smart_amp_test
  tools/topology/sof-tgl-max98373-rt5682.m4
Owners: @ranj063, @xiulipan

topology: add s32_le format support to kwd pipeline
  tools/topology/platform/intel/intel-generic-dmic-kwd.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

codec_adapter: correct codec states
  src/audio/codec_adapter/codec/cadence.c
  src/audio/codec_adapter/codec/generic.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

tools: topology: Add DRC topology files
  tools/topology/m4/drc.m4
  tools/topology/m4/drc_coef_default.m4
  tools/topology/sof/pipe-drc-playback.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

tools: tune: Add tools to generate ctrl bytes for DRC
  tools/tune/drc/drc_build_blob.m
  tools/tune/drc/drc_generate_config.m
  tools/tune/drc/example_drc.m
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

comp: Add initial Google hotword detector
  src/audio/CMakeLists.txt
  src/audio/google_hotword_detect.c
Owners: @jajanusz, @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta

cmake: Link TGL Google hotword library
  CMakeLists.txt
Owners: @jajanusz

comp: hotword_detect: Misc fix for debug
  src/audio/google_hotword_detect.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

[RFC] topology: pipe: correct the Demux chmap for SDW
  tools/topology/sof/pipe-amp-ref-capture.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

perf: check the pipeline peak MCPS
  src/audio/pipeline.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

topology: enable setting multiple configs for dai
  tools/topology/m4/dai.m4
  tools/topology/platform/common/ssp.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

topology: enable BT NB/WB settings on SSP2
  tools/topology/sof-tgl-max98373-rt5682.m4
Owners: @ranj063, @xiulipan

topology: adls: Add sof-adls-rt711.m4
  tools/topology/CMakeLists.txt
  tools/topology/sof-adls-rt711.m4
Owners: @jajanusz, @ranj063, @xiulipan

topology: adls-rt711: Add BT offload on SSP2
  tools/topology/sof-adls-rt711.m4
Owners: @ranj063, @xiulipan

topology: Add CHANNELS_MIN macro for passthrough pipeline
  tools/topology/sof/pipe-passthrough-capture.m4
  tools/topology/sof/pipe-passthrough-playback.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz

topology: Add sof-adls-rt711 topology file
  tools/topology/CMakeLists.txt
  tools/topology/sof-adls-rt711.m4
Owners: @jajanusz, @ranj063, @xiulipan

topology: adls-rt711: Add BT offload on SSP2
  tools/topology/sof-adls-rt711.m4
Owners: @ranj063, @xiulipan

topology: tgl-sdw-max98373-rt5682: Add BT offload pipe
  tools/topology/sof-tgl-sdw-max98373-rt5682.m4
Owners: @ranj063, @xiulipan

HACK: unblock core 0 to test playback pause failture
  src/idc/idc.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @dbaluta, @jajanusz
